html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    color: #031428;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #031428;
}

.main-header {
  background-color: #031428;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
}

.main{
  margin-bottom: 10px;
}

.footer
{
  background-color: #031428;
  display: flex;
  align-items: center;
  height: 97px;
  margin-top: 10px;

}

.footer a
{
  background-color: #031428;
  color: white;
  display: flex;
  align-items: center;
  height: 97px;

}


.main-header h1 {
  position: relative;
  background-color: #031428;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand {
  background-color: #031428;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar-brand a{
  position: absolute;
  left: 10%;
}

.nav-item {
  background-color: #031428;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
}

.nav-link {
  color: white;
  position: absolute;
  right: 10%;
}

/* ----- Landing ----- */

.d-flex
{
  display: flex;
  width: auto;
  margin-bottom: 15px;
}


.container-cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  max-width: calc(100%-200px);
}

.container-cars > div {
  width: calc(20% - 10px);
  margin: 5px;
}

.car-card {
  padding: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}

.car-card img {
  width: 185px;
  height: 185px;
  object-fit: contain;
  border-radius: 9px;
  border: 1px solid #d2d2d2;
  display: block;
  margin: auto;
  box-sizing: border-box;
}

.car-card h3 {
  font-style: bold;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #031428;
  margin: 0.5rem;
}

.car-price-landing {
  font-size: 1.5rem;
  font-weight: bold;
  color: #031428;
  margin: 0.5rem 0;
  text-align: center;
  margin-top: auto;
}

.car-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0 0.5em 0.5em;
  line-height: 100%;
  text-align: left;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.car-card a {
  text-decoration: none;
  color: inherit;
}

.car-card a:hover {
  background-color: #060ea307;
}

/* --------DETAILS---------- */

.container-cars-details {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.carousel-thumbnails {
  display: row;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  max-width: 200px;
  overflow-y: auto;
  border: 9px;
}

.img-thumbnail {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.img-thumbnail:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  width: 735px;
}

.card-img-top:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.car-description {
  margin: 20px;
}

.car-info {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #454545;
  margin-top: 5px;
}

.car-info h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 175%;
  display: flex;
  align-items: center;
  color: #000000;
}

.car-info-available {
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  color: #161616;
  margin-top: 2px;
}

.car-price-details {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;

  color: #031428;
}

/* Style pour le fond assombri */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place même lors du défilement */
  z-index: 1000; /* S'assure qu'il est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Gérer le défilement si nécessaire */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Noir avec opacité */
}

/* Style pour l'image agrandie */
.modal-content {
  margin: auto;
  display: block;
  max-width: calc(
    65vw - 100px
  ); /* 65% de la largeur de la fenêtre, moins 100px pour éviter de débordement */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style pour le bouton de fermeture */
.close {
  position: absolute;
  top: 50px;
  right: 150px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .row {
    flex-direction: column;
  }
}
