@model ExpressVoitures.Data.CarMotor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarMotor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel.CarModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarMotorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarMotorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
