@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <h2>Connectez-vous à votre compte</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div style="justify-content: center; align-items: center; width:220%;" class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div style="justify-content: center; align-items: center; width:220%;" class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;" class="form-floating mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Se souvenir de moi
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn-login btn-primary" style="width:10%; margin-top:100px">Se connecter</button>
                </div>
            </form>
        </section>

    </div>
  
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
