@model ExpressVoitures.Data.CarTrim

@{
    ViewData["Title"] = "Create";
}

<h1>Créer une nouvelle finition</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Nom du modèle ayant la nouvelle finition :
                <select asp-for="CarModelId" class ="form-control" asp-items="ViewBag.CarModelId"></select>
                ou <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "CarModels")'">
                        Créer modèle
                    </button>
            </div>
            <div class="form-group">
                Nom de la nouvelle finition :
                <input asp-for="CarTrimName" class="form-control" />
                <span asp-validation-for="CarTrimName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-validate btn-primary" />
                <div>
                    <a asp-controller="Cars" asp-action="Create">Annuler : retour à la création de voiture</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
